{% set display = content.field_blog_display['#items'].getValue()|first.value %}

{% set date = content.field_start_date.0['#context']['value'] %}

<div class="blog-posts single-post">

    <article class="post post-large blog-single-post">
        {% if content.field_featured_image.0['#context']['value'] %}
            <div class="post-image single">
                <img class="img-thumbnail img-fit" src="{{ content.field_featured_image.0['#context']['value'] }}" alt="">
            </div>
        {% endif %}

        <div class="post-date">
            <span class="day">{{ date | date('d') }}</span>
            <span class="month">{{ date | date('M') }}</span>
        </div>

        <div class="post-content">

            <h2><a href="javascript:void(0);">{{ label }}</a></h2>

            <div class="post-meta">
                {% set starttime = content.field_start_date['#items'].getString() | split ("T") %}
                {% set endtime = content.field_end_date['#items'].getString() | split ("T") %}
                <span><i class="fa fa-calendar"></i> <strong>{{ starttime[1] }} - {{ endtime[1] }}</strong> </span>
                <span><strong>Seats:</strong> {{ content.field_seats['#items'].getString() }},</span><span><strong>Participants:</strong> {{ content.field_seats_taken['#items'].getString() }}.</span>
            </div>

            {% if content.body | render %}
                {{ content.body }}
            {% endif %}

            {% if content.field_libcal_url | render %}
                <a target ="_blank" href="{{ content.field_libcal_url['#items'].getString() }}" class="btn btn-primary btn-icon btn-dsu"><i class="fa fa-external-link"></i>{{ 'Regsiter here' | t }}</a> <!--<span class="arrow hlb appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>-->
            {% endif %}
            <div class="post-block post-share">
                <h3 class="heading-primary"><i class="fa fa-share"></i>{{ 'Share this event'|trans }}</h3>

                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_pinterest_pinit"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript"
                        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
                <!-- AddThis Button END -->

            </div>


        </div>
    </article>

</div>