{% set thumbnail = row._entity.field_thumbnail %}
{% set images = row._entity.field_image %}
{% set tagsContent = fields.field_tags.content|raw %}
{% set title = fields.title.content %}
{% set summary = fields.body.content %}
{% set link = fields.field_text_link.content %}


<article class="post post-large no-border">

    {% if images|length %}
        <div class="post-image post-image-dsu">
            <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                {% for image in images %}
                    <div>
                        <div class="img-thumbnail">
                            <img class="img-responsive" src="{{ file_url(image.entity.fileuri) }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="post-content post-image-dsu border-bottom">

        {% if display == 'quote' and medias|length %}
            {{ medias|first.value|raw }}
        {% else %}
            <h2><a href="{{ fields.path.content }}">{{ title }}</a></h2>
            <p>{{ summary }}</p>
            {% if link is not empty %}
                <p><a target="_blank" href="{{ link|render }}" class="btn btn-link">Visit the collection</a></p>
            {% endif %}
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="post-meta">
                    {% if tags|length %}
                        <span><i class="fa fa-tag"></i> {{ tagsContent }} </span>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</article>